@import './global.scss';

.genre{
  height: 667px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title{
    @include title;
  }

  .description{
    font-family: 'Lato';
    font-size: 14px;
    line-height: 21px;
    width: 250px;
    text-align: center;
    margin: 22px 0;
  }

  .content{
    position: relative;
    align-self: flex-start;
    left: 50%;
    transform: translateX(-188px);
    font-family: 'Poppins';

    &__item{
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      box-sizing: border-box;

      h3{
        text-transform: capitalize;
        height: 30px;
        display: flex;
        align-items: center;
      }

      .percentage{
        font-size: 25px;
      }
    }

    #item1{
      position: absolute;
      top: 11px;
      left: 127px;
      background-color: #FBCBC7;
      width: 150px;
      height: 150px;
      padding: 30px;

      .percentage{
        display: none;
      }

      &:active{
        .genre{
          display: none;
        }
        .percentage{
          display: flex;
        }
      }
    }

    #item2{
      position: absolute;
      top: 145px;
      left: 51px;
      background: #4456C7;
      width: 130px;
      height: 130px;
      padding: 30px;

      .percentage{
        display: none;
      }

      &:active{
        .genre{
          display: none;
        }
        .percentage{
        display: flex;
        }
      }
    }

    #item3{
      position: absolute;
      top: 38px;
      left: 15px;
      background: #FFCCF9;      
      width: 105px;
      height: 105px;
      padding: 20px;

      .percentage{
        display: none;
      }

      &:active{
        .genre{
          display: none;
        }
        .percentage{
          display: flex;
        }
      }
    }

    #item4{
      position: absolute;
      top: 107px;
      left: 265px;
      background: #FFCCF9;      
      width: 95px;
      height: 95px;  
      padding: 15px;

      .percentage{
        display: none;
      }

      &:active{
        .genre{
          display: none;
        }
        .percentage{
          display: flex;
        }
      }
    }

    #item5{
      position: absolute;
      top: 169px;
      left: 190px;
      background: #4456C7;      
      width: 85px;
      height: 85px;
      padding: 10px;

      .percentage{
        display: none;
      }

      &:active{
        .genre{
          display: none;
        }
        .percentage{
          display: flex;
        }
      }
    }
  }

  button{
    @include mainButton;
    margin-top: 310px;
  }
}