@import './global.scss';

.genre{
  height: 667px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title{
    @include title;
  }

  .description{
    font-family: 'Lato';
    font-size: 14px;
    line-height: 21px;
    width: 250px;
    text-align: center;
    margin: 22px 0;
  }

  .content{
    position: relative;
    align-self: flex-start;
    left: 50%;
    transform: translateX(-188px);
    font-family: 'Poppins';

    &__item{
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      box-sizing: border-box;

      h3{
        margin: 3px;
        height: 30px;
        display: flex;
        align-items: center;
      }
    }

    #item1{
      position: absolute;
      top: 11px;
      left: 133px;
      background-color: #FBCBC7;
      width: 150px;
      height: 150px;
      padding: 30px;

      .percentage{
        display: none;
      }

      &:hover{
        .genre{
          display: none;
        }
        .percentage{
          display: block;
        }
      }
    }

    #item2{
      position: absolute;
      top: 145px;
      left: 61px;
      background: #4456C7;
      width: 130px;
      height: 130px;
      padding: 30px;

      .percentage{
        display: none;
      }

      &:hover{
        .genre{
          display: none;
        }
        .percentage{
        display: block;
        }
      }
    }

    #item3{
      position: absolute;
      top: 46px;
      left: 26px;
      background: #FFCCF9;      
      width: 100px;
      height: 100px;
      padding: 20px;

      .percentage{
        display: none;
      }

      &:hover{
        .genre{
          display: none;
        }
        .percentage{
          display: block;
        }
      }
    }

    #item4{
      position: absolute;
      top: 115px;
      left: 267px;
      background: #FFCCF9;      
      width: 80px;
      height: 80px;  
      padding: 15px;

      .percentage{
        display: none;
      }

      &:hover{
        .genre{
          display: none;
        }
        .percentage{
          display: block;
        }
      }
    }

    #item5{
      position: absolute;
      top: 168px;
      left: 195px;
      background: #4456C7;      
      width: 75px;
      height: 75px;
      padding: 10px;

      .percentage{
        display: none;
      }

      &:hover{
        .genre{
          display: none;
        }
        .percentage{
          display: block;
        }
      }
    }
  }

  button{
    @include mainButton;
    margin-top: 310px;
  }
}