@import './global.scss';

.loading{
  background-image: url('../assets/welcome_background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;  
  height: 100vh;

  .discoBall{
    width: 151px;
    height: 165px;
  }

  .pplDancing{
    margin: 60px 0 20px 0;
  }

  h1{
    font-family: 'Poppins';
    font-size: 24px;
    line-height: 21px;
    text-align: center;
  }
}