@import './global.scss';

.myType{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  .hi{
    font-family: 'PoppinsRegular';
    font-size: 18px;
    line-height: 25px;
    margin: 0 0 20px 0;
  }

  .type{
    @include title;
  }

  .description{
    font-family: 'Lato';
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-top: 22px;
  }

  #traveler{
    width: 300px;
  }

  #hipster{
    width: 280px;
  }

  #trender{
    width: 285px;;
  }

  .character{
    margin: 15px 0 40px 0;
  }

  button{
    @include mainButton;
  }
}