@import './global.scss';

.recommendation{
  height: 667px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1{
    @include title;
  }

  p{
    width: 320px;
    text-align: center;
    font-family: 'Lato';
    font-size: 14px;
    line-height: 21px;
    margin: 22px 0 0 0;
  }

  .player{
    position: relative;
    display: flex;
    align-content: center;
    margin: 25px 0 18px 0;

    &__play{
      height: 35px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-45%, -50%)
    }

    &__albumCover{
      height: 150px;
      width: 150px;
      border-radius: 50%;
      margin: 0 43px;
    }
    &__overlay{
      position: absolute;
      height: 150px;
      width: 150px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: rgba(0,0,0,0.2);
    }
  }

  .info{
    height: 145px;
    display: flex;
    flex-direction: column;
    align-items: center; 

    h5{
      text-align: center;
      max-width: 245px;
      font-family: 'Lato';
      // font-weight: 600;
      font-size: 14px;
      line-height: 26px;
      margin: 0;
    }
  
    .songTitle{
      text-transform: capitalize;
      font-family: 'Poppins';
      font-size: 16px;
    }
  }

  .next{
    @include mainButton;
    margin-top: 18px;
  }
}