@import './global.scss';

.topChoices{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;

  button{
    @include mainButton;
  }

  .title{
    @include title;
  }

  .buttons{
    margin-top: 20px;

    button{
      width: 110px;
      height: 50px;
      box-shadow: none;
      margin: 0 15px;
    }

    .clicked{
      background-color: #4553CE;
      color: white;
    }
  }
  
  .content{
    margin: 15px 0;

    &__item{
      display: flex;
      align-items: center;
      margin: 20px 0;
  
        img {
          width: 78px;
          height: 78px;
          border-radius: 50%;
          margin-right: 25px;
        }

        h5{
          text-transform: capitalize;          
          font-family: 'Lato';
          font-size: 18px;
          line-height: 0;
        }
    }
  }
}
